/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url(../Imgs/cursor.png), pointer;
}

:root {
  --main-color: #111;
  --sec-color: #0d0d0d;
  --cel-color: #000;
  /* #161923 */
  --text-color: #fff;
  --str-margin: 12px;
  --main-radius: 8px;
  --block-padding: 20px;
}
body {
  background-color: var(--main-color);
  font-family: "Work Sans", serif;
}


ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}
::-webkit-scrollbar-track {
    background-color: var(--sec-color);
    box-shadow:
    inset 0 1px 1px 1px rgba(0, 0, 0, 0.5),
    0 1px 0 0 rgba(255, 255, 255, 0.1);
}
/*-----------------------------------*\
  #REUSED ITEMS
\*-----------------------------------*/
.ss-shade {
  box-shadow:
  inset 0 1px 1px 1px rgba(0, 0, 0, 0.5),
  0 1px 0 0 rgba(255, 255, 255, 0.1);
}
.md-shade {
  box-shadow: 0 0 5px #ddd ,
  0 0 10px var(--cel-color);
}
.upper {
  text-transform:  uppercase;
}
.main-gap {
  margin-left: var(--str-margin);
}
.inside-gap {
  margin-left: calc(var(--str-margin) + var(--str-margin));
}
.pro-inside-gap {
  margin-left: calc(var(--str-margin) + var(--str-margin) +  var(--str-margin));
}
.small-line {
    margin: 12px 0 12px 20px;
    opacity: .7;
    font-size: 16px;
    font-weight: 500;
}
.h2-header {
  border-radius:  var(--main-radius) var(--main-radius) 0 0;
  text-transform: capitalize;
  background-color: var(--cel-color);
  padding: 8px 10px;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}
.main-heading {
  color: var(--text-color);
  text-transform: capitalize;
  border: 2px solid var(--sec-color);
  padding: 12px 18px;
  font-size: 24px;
  font-weight: 500;
  margin: 24px 0;
  border-radius: var(--main-radius);
}
.xdd1 {
  border-radius:  var(--main-radius);
  color: var(--text-color); 
}
[data-reveal] {clip-path: inset(0 100% 0 0); }
[data-reveal].revealed {animation: reveal 1.2s cubic-bezier(0.20, 0.38, 0.98, 1)
  300ms forwards; }
  @keyframes reveal {
    0% { clip-path: inset(0 100% 0 0); }
    100% { clip-path: inset(0 0 0 0); }
}
/*-----------------------------------*\
  #CONTAINER
\*-----------------------------------*/
.container_fluid {
  padding: 0 15px;
}
.container {
  width: 100%;
  margin: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
}

/*-----------------------------------*\
  #PRE LOADER
\*-----------------------------------*/

.pre-loader {
    position: fixed;
    inset: 0;
    z-index: 3;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    .loader {
      --color: #0d0d0d;
      --size: 200px;
      width: var(--size);
      height: var(--size);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;
      span {
        width: 100%;
        height: 100%;
        background-color: var(--color);
        box-shadow:
        inset 0 1px 1px 1px rgba(0, 0, 0, 0.5),
        0 1px 0 0 rgba(255, 255, 255, 0.1);
        animation: keyframes-blink 0.6s alternate infinite linear;
        &:nth-child(1) {
          animation-delay: 0ms;
        }
        &:nth-child(2) {
          animation-delay: 200ms;
        }
        &:nth-child(3) {
          animation-delay: 300ms;
        }
        &:nth-child(4) {
          animation-delay: 400ms;
        }
        &:nth-child(5) {
          animation-delay: 500ms;
        }
        &:nth-child(6) {
          animation-delay: 600ms;
        }
        
      }
    } 
}      
@keyframes keyframes-blink {
  0% {
    opacity: 0.3;
    transform: scale(0.5) rotate(5deg);
  }
  
  50% {
    opacity: 1;
    transform: scale(1);
  }
}
/*-----------------------------------*\
  #Nav (HIDDEN HEADER)
\*-----------------------------------*/
.hidden-header {
    display: flex;
    justify-content: center;
    input {
      display: none;
    }
    .menu-container {
      margin-right: -100px;
      transition: .5s;
      position: fixed;
      background-color: var(--sec-color);
      display: flex;
      gap: 10px;
      padding: 10px;
      border-radius: 99999px;
      z-index: 1;
      &:hover {
        margin-right: 0;
      }
      .label-click , .git-hup-link {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--sec-color);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-color);
        font-size: 20px;
      }
    }
    input:checked ~ .links-container {
      visibility: visible; 
      opacity: 1;
      clip-path: inset(0 0 0 0);
    }
    input:checked ~ .overlay {
      position: fixed;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.2);
      /* background-color: #fff; */
      backdrop-filter: blur(20px);
      inset: 0;
      z-index: 1;
    }
    .links-container {
      clip-path: inset(0 0 100% 0);
      visibility: hidden; 
      opacity: 0;
      transition: .5s;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      > nav {
        position: relative;
        background-color: transparent;
        width: 300px;
        height: 300px;
        a , .Xmark {
          background-color: #0d0d0d;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 60px;
          height: 60px;
          > i {
            font-size: 30px;
            color: var(--current-color);
          }
        }
        > a:first-of-type {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }
        > a:nth-of-type(2) {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translatey(-50%);
        }
        > a:nth-of-type(3) {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
        > a:nth-of-type(4) {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translatey(-50%);
        }
        .Xmark {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
}
/*-----------------------------------*\
  #MAIN PAGE
\*-----------------------------------*/
main {
  .ex-element, .ex-form, .ex-table {
    border-bottom: 1px dashed #ddd;
    padding-bottom: var(--str-margin);
    margin-block: var(--str-margin);
  }
  section {
      &.templates {
        .container {
          .html-structure{
            color: var(--text-color);
            border-radius:  var(--main-radius);
            .block-of-code {
              padding: var(--block-padding);
              display: flex; 
              flex-direction: column;
              > code {
                font-size: 16px;
                z-index: -1;
              }
            }
          }
        }
      }
  }
  .ele-structure {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;
      .Coccd , .xdd1 {
        border-radius:  var(--main-radius);
        color: var(--text-color);  
      }
      .codeblock {
          margin: 3px 0 3px 8px;

          code {
            padding: 8px 16px;
          }
      }
  }
  .ds {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .p-line {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    > div {
      flex: 1;
      min-height: 200px;
      font-size: 16px;
    }
    .codeblock {
      padding-top: 20px;
    }
  } 
  .span {
    min-height: 200px;
    .block {
      padding: 20px;
      display: flex;
      flex-direction: column;
    }
  }
  code {
    color: green !important;
    font-size: 16px;
    color: var(--text-color);
  }
  .xdd22 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    .snippet {
      min-height: 200px;
      hr {
        margin: 20px auto;
        width: 85%;
      }
    }
  }
  .navigation {
    padding-top: var(--str-margin);
    .container {
      display: flex;
      gap: 20px;
      h3 {
        border-bottom: 1px dashed #ddd;
        padding-bottom: var(--str-margin);
        margin: var(--str-margin);
      }
      .span {
        flex: 1;
        min-width: 200px;
      }
    }
  }
  .text {
    padding-top: var(--str-margin);
  }
  .text .snip-grid {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    .codeblock {
      color: var(--text-color);
      code {
        display: block;
        margin-top: var(--str-margin);
      }
    }
  }
  .code-form {
    padding-top: var(--str-margin);
      .code-structure {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
      }
      .forms {
        .codeblock {
          padding: 20px;
          form {
            fieldset {
              padding: 10px;
            }
          }
        }
      }
      .code .ex-element {
        font-size: 20px;
      }
  }
  .ui-elements {
    padding: var(--str-margin);
    .ui-structure {
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
    .block {
      padding: 0;
    }
  }
  .inputs {
    .inputs-structure {
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }
  }
  .lks {
    .link-structure {
      display: grid;
      grid-template-columns: 2fr 5fr;
      gap: 20px;
      .codeblock {
        padding: 20px;
      }
    }
    .list-structure {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
  .block {
    padding: 20px;
  }
  section.table {
    .table-structure {
      display: grid;
      grid-template-columns: 3fr 5fr 3fr;
      gap: 20px;
      .fis-indeed {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .ex-element {
          margin: 10px;
          text-transform: capitalize;
          padding: 10px;
          .small-line {
            margin: 0;
          }
          table {
          margin-top: var(--str-margin);
          }
        }
        table td {
          padding: 10px;
          border: 1px solid #fff;
        }
        .codeblock {
          padding: 20px;
        }
      }
      .full-table {
        .ex-full-table {
          border: 1px solid #fff;
          td,th {
            border: 1px solid #fff;
          }
          th {
            padding: 5px;
          }
          td {
            padding: 50px 10px;
          }
        }
        .block {
          display: flex;
          align-items: center;
          gap: 20px;
          .codeblock {
            flex: 1;
          }
        }
      }
      .cxvx {
        min-height: 200px;
        .codeblock {
          padding: 20px;
          td {
            border: 1px solid #fff;
            padding: 10px;
          }
        }
      }
    }
    .table-structure-enhanced {
      padding: var(--str-margin) 0;
      display: grid;
      grid-template-columns: 5fr 3fr 3fr;
      gap: 20px;
      table {
        border: 1px solid #fff;
        td {
          padding: 8px;
        }
      }
      .codeblock {
        padding: 20px;
      }
    }
  }
}
.next {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.mas {
  color: var(--text-color);
}
.button {
  --bg: #000;
  --hover-bg: green;
  --hover-text: #000;
  color: var(--text-color);
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

.button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}

/*-----------------------------------*\
  #MEDIA QUIRES
\*-----------------------------------*/
@media (min-width:540px) {
  .hidden-header .menu-container {
    top: 10px;
    right: 10px;
  }}
@media (max-width:767px) {
  .ele-structure {
    grid-template-columns: 1fr 1fr !important;
  }
  .navigation .container {
    flex-direction: column;
  }
  .text .snip-grid {
    gap: 30px;
  }
  .ui-structure,
  .code-structure,
  .inputs-structure,
  .text .snip-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .list-structure, .link-structure {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .full-table {
    .block {
      flex-direction: column;
    }
    .ex-full-table {
      width: 100%;
    }
  }}
@media (max-width:991px) {
  .text .snip-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .ele-structure {
    grid-template-columns: 1fr 1fr !important;
  }
  .inputs {
    .inputs-structure {
      grid-template-columns: repeat(3, 1fr) !important;
    }
  }
  .table-structure, .table-structure-enhanced {
    grid-template-columns: 1fr !important;
  }}
@media (max-width:540px) {
  .hidden-header .menu-container {
    transform: translateX(-50%);
    left: 50%;
    bottom: 10px;
    /* border-radius:0; */
    width: 60%;
    justify-content: space-between;
    padding-inline: 15px;
  }
  .ele-structure {
    grid-template-columns: 1fr !important;
  }}